%head
  %title= $versionString
%body
  %h1= "Ledger of all tables"
  %h2= "Cash"
  %table{"border"=>"1"}
    %th= "ID"
    %th= "Receipt"
    -Transaction.all.order("id ASC").each do |row|
      %tr
        %td= row.id
        %td= sprintf("$%.2f",row.dollars)
  %h2= "Logs"
  %table{"border"=>"1"}
    %th= "Log ID"
    %th= "Species"
    %th= "Consumed?"
    -Log.all.order("id ASC").each do |row|
      %tr
        %td= row.id
        %td= row.species
        %td= row.consumed
  %h2= "Blanks"
  %table{"border"=>"1"}
    %th= "Blank ID"
    %th= "From Log ID"
    %th= "Length"
    %th= "Consumed?"
    -Blank.all.order("id ASC").each do |row|
      %tr
        %td= row.id
        %td= row.log_id
        %td= row.length
        %td= row.consumed
  %h2= "Turnings"
  %table{"border"=>"1"}
    %th= "Turning ID"
    %th= "From Blank ID"
    %th= "League"
    %th= "Consumed?"
    -Turning.all.order("id ASC").each do |row|
      %tr
        %td= row.id
        %td= row.blank_id
        %td= row.league
        %td= row.consumed
  %h2= "Bats"
  %table{"border"=>"1"}
    %th= "Bat ID"
    %th= "From Turning ID"
    %th= "Model"
    %th= "Sold?"
    -Bat.all.order("id ASC").each do |row|
      %tr
        %td= row.id
        %td= row.turning_id
        %td= row.model
        %td= row.consumed

